{% extends 'base.html.twig' %}


{% block body %}



    <main class="bach">
      <h1>Choisir mon émotion</h1>
            <section class="selectEmotions">
                {{ form(form.emotion) }}

            </section>

        <section id="results">
            {% if emotion is defined %}
                    <h2> {{ emotion.name }}</h2>
                    <h3> {{ emotion.emotion }}</h3>
                    <p> {{ emotion.positive }} {{ emotion.negative }}</p>
            {% endif %}

        </section>






    </main>


{% endblock %}